<!DOCTYPE html>
<html lang="en" ng-app="StudentForum">
<head>
    <meta charset="UTF-8">
    <title>Edit ElasticSearch</title>

    <!-- CSS FILES -->
    <link href="vendor/bootstrap-3.3.7-dist/css/bootstrap.min.css"
          type="text/css"
          rel="stylesheet">
    <link href="vendor/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css"
          type="text/css"
          rel="stylesheet">
    <link href="css/style.css"
          type="text/css"
          rel="stylesheet">
    <link href="css/textAngular.css"
          type="text/css"
          rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
          type="text/css"
          rel="stylesheet" >
    <link href="https://fonts.googleapis.com/css?family=Roboto"
          type="text/css"
          rel="stylesheet">

    <!-- JS -->
    <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="vendor/jquery/jquery-ui.min.js"></script>
    <script src="vendor/angular/angular.min.js"></script>
    <script src="vendor/angular/angular-route.min.js"></script>
    <script src="vendor/angular/angular-animate.min.js"></script>
    <script src="vendor/es/elasticsearch.angular.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/textAngular-rangy.min.js"></script>
    <script src="js/textAngular-sanitize.min.js"></script>
    <script src="js/textAngular.min.js"></script>
    <script src="js/date.format.js"></script>
    <script src="js/docs.min.js"></script>
    <script src="app.js"></script>
    <script src="config.js"></script>
    <script src="directives/auto-text.js"></script>

    <!-- CONTROLLERS -->
    <script src="views/home/controllers/home.controller.js"></script>

    <!-- SERVICES -->
    <script src="services/api.service.js"></script>

</head>
<body>
<div ng-controller="homeController as vm" class="container-fluid">
    <div class="text-center">
        <h2>ElasticSearch Annotator</h2>
    </div>
    <div class="row text-center">
        <b>Index: </b> {{vm.config.index_name}}
    </div>

    <div ng-if="vm.success">
        <div class="text-center">
            <div>
                {{vm.currentIndex + 1}} of {{vm.documentCount}}
            </div>
            <h3>{{vm.currentDocId}}</h3>
        </div>
        <div ng-repeat="key in vm.keys" class="row wbd-space-up">
            <div class="col-xs-1">{{key}}</div>
            <div class="col-xs-6"><textarea type="text"
                                            textarea
                                            class="form-control"
                                            ng-model="vm.docDetails[key]"></textarea>
            </div>
            <div class="col-xs-2"><input type="checkbox" />&nbsp;Update</div>
            <div class="col-xs-3">&nbsp;</div>
        </div>

    </div>
    <div ng-if="!vm.success">
        Unable to connect with elasticsearch
    </div>
</div>
</body>
</html>